*{
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
    outline: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* width: 100%; */
}
li a{
    text-decoration: none;
    color: grey;
}
li a :hover{
    color: white;
}
ul{
    list-style: none;
}
.headerContainer{
    /* border: 2px solid blue; */
    background-color: #212529;
}
.navContainer{
    /* border: 2px solid red; */
    width: 80%;
    height: 40px;
    padding: 5px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navContainer p{
    color: white;
}
.navList{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}
.footerContainer a{
          color: rgb(249,244,245);
          margin: 0 3px;
}

.footer0{
    /* border: 2px solid green; */
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.footerContainer{
    /* border: 2px solid blue; */
    height: 100px;  
    background-color: rgb(33,37,41);
    color: rgb(249,244,245);
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */
}
.price1{
     display: flex;
     flex-direction: row;
}
.price1 p{
    margin-top: 16px;
}
.drop{
    position: relative;
    top: 10px;
    color: gray;
}
.drop1{
    position: relative;
    top: 10px;
    color: black;
    font-weight: bold;
}
.priceSection{
    padding: 30px;
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    font-size: large;
    background-color: rgb(248,249,250);
}
.priceRow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
}
.priceRow p{
    color: rgb(108,117,125);
    font-weight: lighter;
}
.priceCol{
    margin: 30px;
    display: flex;
}
.pricingBox{
    /* border: 2px solid red; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    padding: 40px 70px;
    width: 20%;
    height: 75%;
    border-radius: 7px;
    background-color: white;
    font-size: medium;
}
.priceBtn{
    border: 2px solid blue;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    color: rgb(9, 123, 253);
    background-color: rgb(249, 249, 255);
}
.priceBtnBOX{
    border: 2px solid blue;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
    color: rgb(250, 251, 252);
    background-color: blue;
}
@media  screen and (max-width: 768px) {
    .navList{
        display: none;
    }

    .hamburgerBtn{
        display: block;
        border: 2px solid grey;
        border-radius: 5px;
    }
    .hamburger{
        width: 25px;
  height: 2px;
  background-color: rgba(192, 181, 181, 0.582);
  margin: 5px;
    }
    .footer0{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pricingBox{
    width: 60%;
    height: 30%;
}
.priceBtn{
    border: 1px thin blue;
    width: 55vw;
}
.priceBtnBOX{
    border: 1px thin blue;
    width: 55vw;
}
.priceCol{
    display: flex;
    flex-direction: column;
}
.priceRow{
    font-weight: bold;
}
}